#title {
  background-color: #0f3460;
  /* background-color: #2e86c1; */
}

body {
  font-family: "Montserrat", sans-serif;
}

h1 h2 h3 h4 h5 h6 {
  font-family: "Montserrat", sans-serif black;
  line-height: 1.5;
}

h1 {
  color: azure;
  font-size: 3rem;
  font-weight: 900 !important;
}

h2 {
  font-size: 200%;
  font-weight: bolder;
}

h3 {
  font-size: 150%;
  font-weight: bolder;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.2rem;
  padding-bottom: 1.5%;
}

.container-fluid {
  padding-top: 0.5%;
  padding-bottom: 3%;
  padding-left: 7%;
  padding-right: 7%;
}

.btn {
  margin-top: 3%;
  margin-right: 2.5%;
}

#features {
  padding: 11% 7%;
}

.hover-items {
  text-align: center;
  padding: 3%;
}

.fa-solid {
  color: #fa9494;
}

.fa-solid:hover {
  color: #eb1d36;
}

#testimonials {
  padding: 4% 7%;
  text-align: center;
  background-color: #fdebd0;
  /* color: #7f8c8d; */
  color: #2e4053;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  text-transform: capitalize;
}

.testimonial-image {
  border-radius: 100%;
  margin: 20px;
  object-fit: cover;
}

/* #press {
  background-color: #f7a76c;
  text-align: center;
  padding-bottom: 3%;
  padding-left: 2%;
  padding-right: 2%;
} */

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.btn {
  color: white;
}

#pricing {
  padding: 5%;
}

@media (max-width: 995px) {
  #title {
    text-align: center;
  }
  .mainpg-pic {
    margin-top: 3%;
  }
}

#cta {
  background-color: #eb1d36;
  color: azure;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding: 7% 15%;
}

#footer {
  padding: 7% 15%;
  text-align: center;
}

.fa-facebook {
  padding-right: 1%;
}
.fa-instagram {
  padding-right: 1%;
}
.fa-twitter {
  padding-right: 1%;
}
.fa-youtube {
  padding-right: 1%;
}

.fa-facebook:hover {
  color: blue;
}
.fa-instagram:hover {
  color: #8a3ab9;
}

.fa-twitter:hover {
  color: #1da1f2;
}
.fa-youtube:hover {
  color: #ff0000;
}
